.desksWrapper {
  position: relative;
  height: 903px; /* Should match image */
  width: 522px; /* Should match image */
}

.desksBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url(/background.png);
  background-repeat: no-repeat;
}

.desks {
  /*border: 1px solid black;*/
  /*background: #b3e7dc;*/
  background-image: url(/background.png);
  background-repeat: no-repeat;
  position: relative;
  float: left;
}

.desk {
  /*margin: 0.5em;*/
  /*padding: 0.5em 2em;*/
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  position: absolute;
  display: inline-block;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.active {
  background-color: #a6b401;
  color: #000;
}

.booked {
  background-color: #d50102;
  color: #fff;
}

.button {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #87bfdf;
}

.button:hover {
  background-color: #5988a3;
}

.bookedList {
  float: left;
  width: 50%;
}
